---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20*%20from%20yahoo.finance.quotes%20where%20symbol%20in(%22AAPL%22,%22VOO%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"count":2,"created":"2017-06-22T17:42:10Z","lang":"en-US","results":{"quote":[{"symbol":"AAPL","Ask":"146.36","AverageDailyVolume":"27239900","Bid":"146.35","AskRealtime":null,"BidRealtime":null,"BookValue":"25.76","Change_PercentChange":"+0.49
        - +0.34%","Change":"+0.49","Commission":null,"Currency":"USD","ChangeRealtime":null,"AfterHoursChangeRealtime":null,"DividendShare":"2.52","LastTradeDate":"6/22/2017","TradeDate":null,"EarningsShare":"8.52","ErrorIndicationreturnedforsymbolchangedinvalid":null,"EPSEstimateCurrentYear":"8.94","EPSEstimateNextYear":"10.57","EPSEstimateNextQuarter":"1.89","DaysLow":"145.12","DaysHigh":"146.70","YearLow":"91.50","YearHigh":"156.65","HoldingsGainPercent":null,"AnnualizedGain":null,"HoldingsGain":null,"HoldingsGainPercentRealtime":null,"HoldingsGainRealtime":null,"MoreInfo":null,"OrderBookRealtime":null,"MarketCapitalization":"763.10B","MarketCapRealtime":null,"EBITDA":"69.72B","ChangeFromYearLow":"54.86","PercentChangeFromYearLow":"+59.96%","LastTradeRealtimeWithTime":null,"ChangePercentRealtime":null,"ChangeFromYearHigh":"-10.29","PercebtChangeFromYearHigh":"-6.57%","LastTradeWithTime":"1:24pm
        - <b>146.36</b>","LastTradePriceOnly":"146.36","HighLimit":null,"LowLimit":null,"DaysRange":"145.12
        - 146.70","DaysRangeRealtime":null,"FiftydayMovingAverage":"151.25","TwoHundreddayMovingAverage":"136.05","ChangeFromTwoHundreddayMovingAverage":"10.31","PercentChangeFromTwoHundreddayMovingAverage":"+7.58%","ChangeFromFiftydayMovingAverage":"-4.89","PercentChangeFromFiftydayMovingAverage":"-3.23%","Name":"Apple
        Inc.","Notes":null,"Open":"145.77","PreviousClose":"145.87","PricePaid":null,"ChangeinPercent":"+0.34%","PriceSales":"3.45","PriceBook":"5.66","ExDividendDate":"5/11/2017","PERatio":"17.17","DividendPayDate":"5/18/2017","PERatioRealtime":null,"PEGRatio":"1.47","PriceEPSEstimateCurrentYear":"16.37","PriceEPSEstimateNextYear":"13.85","Symbol":"AAPL","SharesOwned":null,"ShortRatio":"2.33","LastTradeTime":"1:24pm","TickerTrend":null,"OneyrTargetPrice":"157.58","Volume":"10215019","HoldingsValue":null,"HoldingsValueRealtime":null,"YearRange":"91.50
        - 156.65","DaysValueChange":null,"DaysValueChangeRealtime":null,"StockExchange":"NMS","DividendYield":"1.72","PercentChange":"+0.34%"},{"symbol":"VOO","Ask":"224.50","AverageDailyVolume":"1967870","Bid":"224.49","AskRealtime":null,"BidRealtime":null,"BookValue":"0.00","Change_PercentChange":"+0.38
        - +0.17%","Change":"+0.38","Commission":null,"Currency":"USD","ChangeRealtime":null,"AfterHoursChangeRealtime":null,"DividendShare":null,"LastTradeDate":"6/22/2017","TradeDate":null,"EarningsShare":null,"ErrorIndicationreturnedforsymbolchangedinvalid":null,"EPSEstimateCurrentYear":null,"EPSEstimateNextYear":null,"EPS[...]
